* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

header {
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* transition: all 0.3s; */
  transition: background 0.3s, color 0.3s, padding 0.3s;
}

header.sticky {
  background: rgba(0, 0, 0, 0.6);
  padding: 0 60px;
  color: #fff;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.nav {
  display: flex;
}

.nav li {
  padding: 20px 40px;
}

.bg {
  height: 100vh;
  background-image: url('https://picsum.photos/600/400');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 30px 12px;
}
.container h1 {
  margin-bottom: 30px;
}

.container p {
  margin: 20px 0;
}
