* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
body {
  background-color: #130f40;
  color: #fff;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.food_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px 0;
}
.food_list img {
  width: 100%;
  display: block;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

form {
  width: 500px;
  margin: 0 auto;
}

form input {
  width: 100%;
  padding: 16px;
  font-size: 20px;
}
